div {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    font-family: sans-serif;
    text-align: center;
}

html,
body,
.layer {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
}

#background {
    z-index: 1;
}

#foreground {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

#clockNumbers {
    font-size: 1000%;
    line-height: 0.95em;
}
#clockTimeOfDay {
    font-size: 250%;
}

#greeting {
    font-size: 200%;
}

#weather {
    gap: 5px;
}

.mountain {
    stroke-width: 0;
}